

.nav__section {
  display: flex;
  flex-flow: row nowrap;
  height: 90px;
  background-color: #467396;
}

.a__text {
  font-weight: 600;
  color: darkred;
}

.title {
  color: white;
  width: 100%;
  padding: 20px;
}


.navMenu {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.navMenu a {
  padding: 0 20px 0 20px;
  color: rgba(242, 243, 244, 0.7);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 200px;
  text-align: center;
}

.navMenu a:nth-child(4) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}


.navMenu a:hover {
  color: white;
}

.navMenu .dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  top: 25px;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

@media (max-width: 810px) {
  .navMenu a {
    min-width: 130px;
    width: 130px;
    font-size: 0.9em;
    padding: 0 10px;
  }
  .dot {
    visibility: hidden;
  }
}

@media (max-width: 550px) {
  .navMenu a {
    min-width: 90px;
    width: 90px;
    font-size: 0.7em;
    padding: 0 2px;
  }
}
