
.multichain__section {
  padding: 100px 0 200px 0;
  background: linear-gradient(to right, #002348, #467396);
}

.card__component {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.title {
  color: hsl(0, 0%, 98%);
}

.box {
  border-radius: 5px;
  box-shadow: 0 30px 40px -20px hsl(229, 6%, 66%);
  padding: 25px;
  margin: 20px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  width: 300px;
  height: 150px;
  display: flex;
  flex-flow: row nowrap;

  img {
    height: 100%;
  }

  .img__container {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
  }

  .description {
    font-size: 0.8rem;
    color: hsl(234, 12%, 34%);
  }

  .text__container {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 10px;
    justify-content: space-around;
  }

}

.texts__component {
  color: white;
}

@media (max-width: 600px) {
  .multichain__section {
    padding: 30px 0 120px 0;
  }
  .box {
    padding: 10px;
    width: 250px;
    height: 100px;
  }
}
