.team__section {
  padding: 120px 0;
}

.team__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}



.member__content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px 5px 5px 10px;

  .title {
    display: flex;
    align-self: end;
    font-size: smaller;
    font-style: italic;
    font-weight: bolder;
  }
}

.member__component {
  width: 300px;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  border: rgba(70, 116, 148, 0.2) 1px solid;
  margin: 5px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;

  .name {
    display: flex;
    justify-content: start;
    font-weight: bolder;
    font-size: large;
    color: #002348;
  }
}

.member__image {
  width: 60px;
  border-radius: 25px;
  justify-content: center;
  align-self: center;
}

.member__content__social {
  display: flex;
  flex-flow: row nowrap;

}

.member__content__bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.member__social {
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  width: 30px;
  padding: 5px;
}
