.form{
  margin: auto !important;
  width: 50% !important;
  padding: 10px !important;
}

.link {
  font-style: italic;
  padding: 0 5px;
  font-size: x-large;
}

.buttons__component {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

@media (max-width: 767px) {
  .form{
    padding: 0px !important;
    width: auto !important;
    margin: 0px !important;
  }
}
