.image__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  grid-gap: 1rem;
  padding-top: 1rem;
}

.image {
  --clip-start: circle(0);
  --clip-end: circle(125%);
  position: relative;
  padding-bottom: 100%;
  width: 120px;

  img {
    border-radius: 5px;
  }

}




@media (max-width: 900px) {
  .image__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .image__container {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(3, 1fr);
  }
  .image {
    width: 80px;
  }
}

@media (max-width: 400px) {
  .image__container {
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(3, 1fr);
  }
  .image {
    width: 60px;
  }
}
