.image__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  //grid-template-rows: repeat(4, 1fr);
  width: 100%;
  grid-gap: 1rem;
  padding-top: 1rem;
}

.image {
  --clip-start: circle(0);
  --clip-end: circle(125%);
  position: relative;
  padding-bottom: 100%;
  width: 120px;

  img {
    border-radius: 5px;
  }

}

@media (max-width: 1200px) {
  .image__container {
    grid-template-columns: repeat(7, 120px);
  }
}

@media (max-width: 990px) {
  .image__container {
    grid-template-columns: repeat(5, 120px);
  }
}

@media (max-width: 767px) {
  .image__container {
    grid-template-columns: repeat(3, 120px);
  }
}

@media (max-width: 600px) {
  .image__container {
    grid-template-columns: repeat(3, 120px);
  }
}

@media (max-width: 400px) {
  .image__container {
    grid-template-columns: repeat(2, 120px);

  }
}
