@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}
h1{
    @apply text-3xl sm:text-4xl md:text-6xl mb-4;
}
h2 {
    @apply text-2xl sm:text-2xl md:text-4xl mb-2;
}
h3 {
    @apply text-lg sm:text-xl md:text-2xl mb-2;
}
h4 {
    @apply text-xl;
}

button {
    @apply font-display;
}

body {
    /* @apply font-body text-white; */
    font-family: 'Poppins', sans-serif;
}

a {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.hero-img-2 {
    background-image: linear-gradient(rgba(255,255,255,1),rgba(242,243,244,1));
}

.ui.card,
.ui.cards>.card{
  /*background-color: #161619;*/
  color: black;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
  background: transparent !important;
  box-shadow: none !important;
}


.ui.card,
.ui.cards>.card:hover{
  top: -10px;
}

.ui.card .meta, .ui.cards > .card .meta,
.ui.card > .content,
.ui.cards > .card > .content,
.ui.card > .content > .header, .ui.cards > .card > .content > .header,
.ui.card > .content > .description, .ui.cards > .card > .content > .description
{
  /*color:white;*/
  font-family: EB Garamond,serif;
  font-size: medium;
}


.ui.card .meta, .ui.cards > .card .meta,
.ui.card .extra, .ui.cards > .card .extra,
.ui.card .description, .ui.cards > .card .description{
  color:black;
  font-weight: bold;
}

.claimButton{
  background-color: white !important;
  color:black !important;

}
.claimButton:hover{
  text-decoration: underline;
}
#myVideo {
 position: fixed;
 z-index: -1;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
}

#connectWallet{
  right: 0;
  top: 12px;
  position: fixed;

  z-index: 99;
}
#inputLabel{
  color: #467494;
}
.shadowBackground{
    text-shadow: 1px -1px white;
}

/**
BUTTON PRIMARY
 */
.btn {
    font-family: 'Poppins', sans-serif;
    width: 150px;
    font-size: 16px;
    font-weight: 200;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 100% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn__wallet {
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.btn__primary {
    height: 40px;
    margin: 50px;
    color: #fff;
    border-radius: 40px;
    background-image: linear-gradient(to right, #467396, #a2b9ca);
    box-shadow: 0 4px 15px 0 rgba(70, 116, 148, 0.5);
}

.btn__primary:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: scale(.95);
    box-shadow: 0 4px 15px 0 rgba(70, 116, 148, 0.8);
}

.btn__wallet:hover {
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.8);
}

.btn:focus {
    outline: none;
}

/**
A UNDERLINE
 */
.a__underline__primary {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

.a__underline__primary:hover {
    color: white;
}

.a__underline__primary::after {
     content: "";
     background: rgba(255, 255, 255, 0.25);
     position: absolute;
     left: 12px;
     bottom: -6px;
     width: calc(100% - 8px);
     height: calc(100% - 8px);
     transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
 }

.a__underline__primary:hover:after {
     left: 0;
     bottom: -2px;
     width: 100%;
     height: 100%;
}

.a__underline__secondary {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #467396;
}

.a__underline__secondary::after {
    content: "";
    background: rgba(70, 115, 150, 0.25);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.a__underline__secondary:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
}
