@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}
h1{
    @apply text-3xl sm:text-4xl md:text-6xl mb-4;
}
h2 {
    @apply text-2xl sm:text-2xl md:text-4xl mb-2;
}
h3 {
    @apply text-lg sm:text-xl md:text-2xl mb-2;
}
h4 {
    @apply text-xl;
}

button {
    @apply font-display;
}

body {
    @apply font-body text-white;
}

html {
    scroll-behavior: smooth;
}
.hero-img {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(70, 116, 148,0.4)), url('/back.png');
}

.ui.card,
.ui.cards>.card{
  /*background-color: #161619;*/
  color: black;
  position: relative;
  top: 0;
  transition: top ease 0.2s;
  background: transparent !important;
  box-shadow: none !important;
}


.ui.card,
.ui.cards>.card:hover{
  top: -10px;
}

.ui.card .meta, .ui.cards > .card .meta,
.ui.card > .content,
.ui.cards > .card > .content,
.ui.card > .content > .header, .ui.cards > .card > .content > .header,
.ui.card > .content > .description, .ui.cards > .card > .content > .description
{
  /*color:white;*/
  font-family: EB Garamond,serif;
  font-size: medium;
}


.ui.card .meta, .ui.cards > .card .meta,
.ui.card .extra, .ui.cards > .card .extra,
.ui.card .description, .ui.cards > .card .description{
  color:black;
  font-weight: bold;
}

.claimButton{
  background-color: white !important;
  color:black !important;

}
.claimButton:hover{
  text-decoration: underline;
}
#myVideo {
 position: fixed;
 z-index: -100;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
}

#connectWallet{
  right: 0;
  top: 8px;
  position: fixed;

  z-index: 99;
}
