@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,200&display=swap');


html,
body {
  padding: 0;
  margin: 0;

  // Color
  color: black;
  background-color: white;

  // Text
  font-family: "EB Garamond", serif, sans-serif;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "EB Garamond", serif, sans-serif;
}

